:root {
    --satinLinen: #ececdc;
    --rockBlue:#a0b3c7;
    --stormGray:#6f718f;
    --medPurple: #7367e6;
    --cloudBurst:#222d58;
}


body{
    background-color:var(--cloudBurst);
    font-family: helvetica, Arial, Sans-serif;
}

header {
    padding: 20px 35px;
    background-color:var(--rockBlue);
    display: flex;
    margin: 0;
    border-radius: 15px;
    border: 5px var(--satinLinen) solid;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 2px var(--satinLinen);
    position: sticky;
    position: -webkit-sticky;
    top: 0;


}

h1 {


    font-style: italic;
    font-weight: bold;
    color: var(--satinLinen);
    font-size: 3.0vw;
}

.subheader{

    color: var(--satinLinen);

}



footer {
    padding: 20px 35px;
    background-color: var(--rockBlue);
    display: flex;
    margin: 20px;
    border-radius: 15px;
    border: 5px var(--satinLinen) solid;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px 0 var(--satinLinen);
}

.contact-container{
    display: grid;
    grid-template-columns: repeat(2);
    grid-gap: 10px;

}

.top {
    padding: 20px 35px;
    border-top: 2px solid var(--satinLinen);
    margin: 40px;
    display: block;
    background-color: var(--cloudBurst);
}

 h2 {
        color: var(--satinLinen);
        text-transform: uppercase;
        font-size: 38px;
}


.grid-container {
   border: 3px solid var(--satinLinen);
    background-color: var(--rockBlue);
    box-shadow: 5px 5px 2px var(--stormGray);
    border-radius: 10px;



}

.grid-item:hover{
    box-shadow: 10px 10px 4px var(--cloudBurst);
    transition: 0.3s;

}


.grid-item {
    background-color: var(--stormGray);
    border: 3px solid var(--satinLinen);
    padding: 1em;
    border-radius: 5px;
    font-size: 18px;
    color: var(--cloudBurst);
    text-align: center;

    margin: 10px;

    box-shadow: 5px 5px 2px var(--satinLinen);
}


@include motion-ui-transitions;






